.page-header
  %h1=t '.title', :default => "#{@category.name}"

- if @category.parent_id
  %p
    %strong Parent Category:
    = @category.parent_id

= link_to t('.back', :default => t("helpers.links.back")), guest_categories_path, class: 'btn'