.red_box
  .text-center
    = image_tag "logo_white.png"
    .gap
      .signin_with_auth
        %h3 Choose the type of account
        .gap
          .row.red_color
            .span6
              = radio_button_tag :contributor, 'contributor'
              Contributor
            .span6
              = radio_button_tag :downloader, 'downloader'
              Downloader


