.page-header.row
  %h1 Galleries

%p
  %strong Name:
  = @resource.name

%br

= link_to('Back', admin_galleries_path, class: 'btn')
= link_to('Edit', edit_admin_gallery_path(@resource), class: 'btn')
= link_to('Delete', admin_gallery_path(@resource), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger')
