.page-header.row
  %h1=t '.title', default: 'Expertises'

= paginate @expertises

%table.table.table-striped
  %thead
    %tr
      %th Name
  %tbody
    - @expertises.each do |expertise|
      %tr
        %td= link_to expertise.name, member_expertise_path(expertise)

= paginate @expertises

