.page-header.row
  %h1=t '.title', :default => 'Members'

= paginate @users

%br
%table.table.table-striped
  %thead
    %tr
      %th UserName
      %th Email
      %th Created At
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to(user.username, user_path(user))
        %td= user.email
        %td=l user.created_at

= paginate @users