.page-header
  %h1=t '.title', :default => 'Account Settings'

%p
  %strong UserName:
  = @user.username

%p
  %strong Email:
  = @user.email

%br

= link_to('Back', users_path, :class => 'btn')
- if current_user == @user
  = link_to('Edit', edit_user_path(@user), :class => 'btn')
