.page-header
  %h1=t '.title', :default => 'User'

%p
  %strong Email:
  = @user.email
%p
  %strong UserName:
  = @user.username

.form-actions
  = link_to('Back', users_path, :class => 'btn')
  - if current_user == @user
    = link_to('Edit', edit_user_path(@user), :class => 'btn')
