- model_class = Expertise
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Created At
  %tbody
    - @expertises.each do |expertise|
      %tr
        %td= link_to expertise.name, expertise_path(expertise)
        %td=l expertise.created_at

= paginate @expertises

