%form.form-search
  .input-append
    %input.span2.search-query{type: "text"}/
    %button.btn{type: "submit"} Search
  .input-prepend
    %button.btn{type: "submit"} Search
    %input.span2.search-query{type: "text"}/