.page-header.row
  %h1=t '.title', default: 'Categories'
= paginate @categories

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Parent Category
  %tbody
    - @categories.each do |category|
      %tr
        %td= link_to category.name, [:member, category]
        %td= category.parent_name

= paginate @categories
