.page-header
  %h1=t '.title', default: 'Category'

%p
  %strong Name:
  = @category.name
%p
  %strong Parent Category:
  = @category.parent_name

.form-actions
  = link_to t('.back', default: t("helpers.links.back")), member_categories_path, class: 'btn'