.page-header.row
  %h1=t '.title', :default => 'Gallery'
%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Created At

  %tbody
    - @galleries.each do |gallery|
      %tr
        %td= link_to gallery.name, gallery_path(gallery)
        %td=l gallery.created_at

= paginate @galleries
