.page-header.row
  %h1=t '.title', :default => 'Galleries'

= paginate @galleries

%table.table.table-striped
  %thead
    %tr
      %th Name

  %tbody
    - @galleries.each do |gallery|
      %tr
        %td= link_to gallery.name, gallery_path(gallery)

= paginate @galleries
