/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.fileupload-ui
 *= require chosen
 *= require jquery.ui.all
 *= require chosen
 *= require token-input-facebook
 *= require_tree .
 *= require_self
 */

.tile-progress {
    background-color: #303641;
    color: #fff;
}
.tile-progress {
    background: #00a65b;
    color: #fff;
    margin-bottom: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.tile-progress .tile-header {
    padding: 15px 20px;
    padding-bottom: 40px;
}
.tile-progress .tile-progressbar {
    height: 2px;
    background: rgba(0,0,0,0.18);
    margin: 0;
}
.tile-progress .tile-progressbar span {
    background: #fff;
}
.tile-progress .tile-progressbar span {
    display: block;
    background: #fff;
    width: 0;
    height: 100%;
    -webkit-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
    -moz-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
    -o-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
    transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
}
.tile-progress .tile-footer {
    padding: 20px;
    text-align: right;
    background: rgba(0,0,0,0.1);
    -webkit-border-radius: 0 0 3px 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0 0 3px 3px;
    -moz-background-clip: padding;
    border-radius: 0 0 3px 3px;
    background-clip: padding-box;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}
.tile-progress.tile-red {
    background-color: #f56954;
    color: #fff;
}
.tile-progress {
    background-color: #303641;
    color: #fff;
}
.tile-progress.tile-blue {
    background-color: #0073b7;
    color: #fff;
}
.tile-progress.tile-aqua {
    background-color: #00c0ef;
    color: #fff;
}
.tile-progress.tile-green {
    background-color: #00a65a;
    color: #fff;
}
.tile-progress.tile-cyan {
    background-color: #00b29e;
    color: #fff;
}
.tile-progress.tile-purple {
    background-color: #ba79cb;
    color: #fff;
}
.tile-progress.tile-pink {
    background-color: #ec3b83;
    color: #fff;
}

/* http://www.jquery2dotnet.com/ */
/* rating */
body{ margin-top:20px;}
.glyphicon { margin-right:5px;}
.rating .glyphicon {font-size: 22px;}
.rating-num { margin-top:0px;font-size: 54px; }
.progress { margin-bottom: 5px;}
.progress-bar { text-align: left; }
.rating-desc .col-md-3 {padding-right: 0px;}
.sr-only { margin-left: 5px;overflow: visible;clip: auto; }


/* comments */
.animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}

.stars
{
    margin: 20px 0;
    font-size: 24px;
    color: #d17581;
}

/* admin panel */

/*body { padding-top:20px; }*/
/*.panel-body .btn:not(.btn-block) { width:120px;margin-bottom:10px; }*/


#custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#D9230F;
}

.search-query:focus + button {
    z-index: 3;
}

@import url(http://weloveiconfonts.com/api/?family=brandico|entypo|openwebicons|zocial);

/* brandico */
[class*="brandico-"]:before {
    font-family: 'brandico', sans-serif;
}

/* entypo */
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}

/* openwebicons */
[class*="openwebicons-"]:before {
    font-family: 'OpenWeb Icons', sans-serif;
}

/* zocial */
[class*="zocial-"]:before {
    font-family: 'zocial', sans-serif;
}

.form-signin{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}


.login-input {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.login-input-pass {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.signup-input {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.signup-input-confirm {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}



.create-account {
    text-align: center;
    width: 100%;
    display: block;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.btn-center{
    width: 50%;
    text-align: center;
    margin: inherit;
}

.social-login-btn {
    margin: 5px;
    width: 20%;
    font-size: 250%;
    padding: 0;
}

.social-login-more {
    width: 45%;
}

.social-google {
    background-color: #da573b;
    border-color: #be5238;
}
.social-google:hover{
    background-color: #be5238;
    border-color: #9b4631;
}

.social-twitter {
    background-color: #1daee3;
    border-color: #3997ba;
}
.social-twitter:hover {
    background-color: #3997ba;
    border-color: #347b95;
}

.social-facebook {
    background-color: #4c699e;
    border-color: #47618d;
}
.social-facebook:hover {
    background-color: #47618d;
    border-color: #3c5173;
}

.social-linkedin {
    background-color: #4875B4;
    border-color: #466b99;
}
.social-linkedin:hover {
    background-color: #466b99;
    border-color: #3b5a7c;
}

.red_box {
    padding-top: 5%;
    background-color: #C0392B;
    padding-bottom: 10%;
}

.white_box {
    padding-top: 2%;
    background-color: #ffffff;
    padding-bottom: 2%;
}

.bigger_font {
    font-size: 18px;
}

.login_link{
    padding-left: 80%;
    padding-right: 20%;
    background-color: #C0392B;
}

.gap{
    margin-top: 5%;
}

.white_font{
    color: #ffffff;
}

.shape {
    border: 0 none;
    height: auto;
    max-width: 111%;
    vertical-align: sub;
}

.footer{
    margin-left: 10%;
}

.hr_width {
    margin-left: 0% !important;
    border-color: black;
    width: 150%;
}

.grey_font{
    color: grey;
    font-size: 12px;
}

.facebook
{
    width: 58px;
    height: 58px;
    background: url(social_network_icons.jpeg) 0 0;
}

.twitter
{
    width: 58px;
    height: 58px;
    background: url(social_network_icons.jpeg)  -60px -54px;
}

.linkedin
{
    width: 58px;
    height: 58px;
    background: url(social_network_icons.jpeg) -116px -107px;
}

.google
{
    width: 58px;
    height: 58px;
    background: url(social_network_icons.jpeg) -59px -108px;
}

/*%link{href: "//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css", rel: "stylesheet"}/*/
/*%script#metamorph-1-start{type: "text/x-placeholder"}*/
/*%script#metamorph-21-start{type: "text/x-placeholder"}*/
/*.container.text-center*/
/*%form.form-signin{"data-ember-action" => "2"}*/
/*%h2.form-signin-heading Sign in*/
/*%small.text-muted Connect [your service] with your favorite social network*/
/*%br/*/
/*%br/*/
/*%p*/
/*%a.btn.btn-primary.social-login-btn.social-facebook{href: "/auth/facebook"}*/
/*%i.fa.fa-facebook*/
/*%a.btn.btn-primary.social-login-btn.social-twitter{href: "/auth/twitter"}*/
/*%i.fa.fa-twitter*/
/*%p*/
/*%a.btn.btn-primary.social-login-btn.social-linkedin{href: "/auth/linkedin"}*/
/*%i.fa.fa-linkedin*/
/*%a.btn.btn-primary.social-login-btn.social-google{href: "/auth/google"}*/
/*%i.fa.fa-google-plus*/
    /*.btn-group.social-login-more*/
/*%button.btn.btn-default.dropdown-toggle.btn-block{"data-toggle" => "dropdown", type: "button"}*/
/*More...*/
/*%ul.dropdown-menu.text-left{role: "menu"}*/
/*%li*/
/*%a{href: "#"}*/
/*%i.fa.fa-tumblr-sign*/
            /*Tumblr*/
/*%li*/
/*%a{href: "#"}*/
/*%i.fa.fa-github-alt*/
            /*Github*/
/*%li*/
/*%a{href: "#"}*/
/*%i.fa.fa-dropbox*/
            /*Dropbox*/
/*%li*/
/*%a{href: "/auth/amazon"}*/
/*%span.zocial-amazon*/
            /*Amazon*/
/*%li*/
/*%a{href: "#"}*/
/*%span.zocial-bitbucket*/
            /*Bitbucket*/
/*%li*/
/*%a{href: "#"}*/
/*%span.zocial-evernote*/
            /*Evernote*/
/*%li*/
/*%a{href: "#"}*/
/*%span.zocial-meetup*/
            /*Meetup*/
/*%li*/
/*%a{href: "#"}*/
/*%i.fa.fa-windows*/
            /*Windows Live*/
/*%li*/
/*%a{href: "#"}*/
/*%i.fa.fa-weibo*/
            /*Weibo*/
/*%li*/
/*%a{href: "#"}*/
/*%i.fa.fa-foursquare*/
            /*Foursquare*/
/*%li*/
/*%a{href: "#"}*/
/*%i.fa.fa-stackexchange*/
            /*Stack Exchange*/
/*%li*/
/*%a{href: "#"}*/
/*%i.fa.fa-trello*/
            /*Trello*/
/*%li*/
/*%a{href: "#"}*/
/*%span.zocial-wordpress*/
            /*Wordpress*/
/*%br/*/
/*%br/*/
/*%small.text-muted Or sign in with [your service]*/
/*%br/*/
/*%br/*/
/*%input#ember360.ember-view.ember-text-field.form-control.login-input{placeholder: "Email Address", type: "text"}/*/
/*%input#ember361.ember-view.ember-text-field.form-control.login-input-pass{placeholder: "Password", type: "password"}/*/
/*%script#metamorph-22-start{type: "text/x-placeholder"}*/
/*%script#metamorph-22-end{type: "text/x-placeholder"}*/
/*%button.btn.btn-lg.btn-primary.btn-block.btn-center{"data-bindattr-3" => "3", type: "submit"} Sign in*/
/*%br/*/
/*%small.create-account.text-muted*/
      /*Dont have a [your service] or social network account?*/
/*%button#ember363.ember-view.btn.btn-sm.btn-default Sign Up*/
