.span2{style: "width: 15%;"}
  %ul.unstyled
    %li
      GitHub
      %li
        %li
          %a{href: "#"} About us
        %li
          %a{href: "#"} Blog
        %li
          %a{href: "#"} Contact  support
        %li
          %a{href: "#"} Enterprise
        %li
          %a{href: "#"} Site status
.span2{style: "width: 15%;"}
  %ul.unstyled
    %li
      Applications
      %li
        %li
          %a{href: "#"} Product for Mac
        %li
          %a{href: "#"} Product for Windows
        %li
          %a{href: "#"} Product for Eclipse
        %li
          %a{href: "#"} Product mobile apps
.span2{style: "width: 15%;"}
  %ul.unstyled
    %li
      Services
      %li
        %li
          %a{href: "#"} Web analytics
        %li
          %a{href: "#"} Presentations
        %li
          %a{href: "#"} Code snippets
        %li
          %a{href: "#"} Job board
.span2{style: "width: 15%;"}
  %ul.unstyled
    %li
      Documentation
      %li
        %li
          %a{href: "#"} Product Help
        %li
          %a{href: "#"} Developer API
        %li
          %a{href: "#"} Product Markdown
        %li
          %a{href: "#"} Product Pages
.span2{style: "width: 15%;"}
  %ul.unstyled
    %li
      More
      %li
        %li
          %a{href: "#"} Training
        %li
          %a{href: "#"} Students  teachers
        %li
          %a{href: "#"} The Shop
        %li
          %a{href: "#"} Plans  pricing
        %li
          %a{href: "#"} Contact us
%hr
.row-fluid
  .span12
    .span8
      %a{href: "#"} Terms of Service
      %a{href: "#"} Privacy
      %a{href: "#"} Security
    .span4
      %p.muted.pull-right © 2014 RedfxStock. All rights reserved