.row-fluid
  .well.sidebar-nav
    %ul.nav.nav-list
      - if current_user && current_user.moderator?
        = render 'layouts/admin_links'
        = render 'layouts/user_links'
      - else
        = render 'layouts/user_links'

